.hide-scrollbar {
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
  }


  .bg_custom {
    color: blue;
    background-size: 200%;
  }
  
  @media (max-width: 1024px) {
    .bg_custom {
      background-size: 200%;
    }
  }
  
  @media (max-width: 640px) {
    .bg_custom {
      background-size: 200%;
    }
  }
  