@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}


@layer components {
  .button-icon  {
    @apply flex flex-row items-center space-x-[5px] text-[12px] font-semibold;
  } 
  .error-message {
    @apply text-red-500 text-[12px];
  }

  
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour IE et Edge */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
  }
}

/* :root {
    --main-bg-color: blue;
    --main-text-color: black;
  }
  
  body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
  } */