@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-icon  {
    @apply flex flex-row items-center space-x-[5px] text-[12px] font-semibold;
  } 
  .error-message {
    @apply text-red-500 text-[12px];
  }
}
/* :root {
    --main-bg-color: blue;
    --main-text-color: black;
  }
  
  body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
  } */